/* .bd{
    background-image: url('../assets/bg.jpeg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /* margin-top: -90px; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */


.form{
    background-color: rgb(255, 145, 0);
position: center;
text-align: center;
width: 300px;
margin: 30vh auto 0 auto;
padding: 50px;
border-radius: 5px;
font-size: 16px;
padding-top: 100px;
padding-bottom: 200px;
}